
        @font-face {
            font-family: 'monster';
            src: url('Melted Monster.ttf') format('truetype');
          }

        body {
            margin: 0px;
            padding: 0px;
            background: rgb(49, 47, 47) repeat-y; 
            
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #container {
            width: 900px;
            height: 1400px;
            margin: auto;
            background: url("../images/f0FH9Er.webp") 

        }

        #topo {
            background: black;
            padding: 10px;
            margin: 10px;
            
        }

        #topo h1 {
            font-family: 'monster';
            text-align: center;
            color: white;
        }

        
        #menu-navegacao{
            height: 60px;
            margin: 0 10px 10px 10px;
            background: rgb(63, 60, 60);
        }

        
        #menu-navegacao ul {
            padding: 0;
            list-style: none;
            margin: 24px 0 200px 260px;
        }

        #menu-navegacao a:hover {
            color: rgb(3, 226, 33);
        }

        #menu-navegacao li {
            display: inline;
        }

      #menu-navegacao a {
            font-family: 'monster';
            text-decoration: none;
            color: white;
            background: black;
            padding: 10px;
            border-radius: 10px;
        }

        .formu {
            border: 1px solid white;
        }

        #form P{
           color: white;
        }

        form, .text {
            color: rgb(212, 30, 30);
            width: 250px;
            height: 25px;
        }



        #imagem {
            width: 370px;
            height: 500px;
            background: black;
            margin-left: 270px;
        
        }


        #divImag  {
            border: 1px solid red;
        }

     
        #imagem-meio img{
            width: 750px;
            height: 450px;
            margin-left: 100px;
        }