
       @font-face {
        font-family: 'monster';
        src: url('Melted Monster.ttf') format('truetype');
      }

        body {
            margin: 0px;
            padding: 0px;
            background: rgb(49, 47, 47) repeat-y; 
        }

        #container {
            width: 900px;
            height: 1000px;
            margin: auto;
            background: url("../images/2-1-1088x600.jpg") 
        }

        img {
            width: 350px;
            margin: 10px;
            display: block;
        }

        #topo {
            background: black;
        }

        #topo h1 {
            font-family: 'monster';
            text-align: center;
            color: white;
        }

        #imagem {
            width: 370px;
            height: 500px;
            float: right;
            background: black;
            margin-right: 10px;
        }

        #conteudo img {
            opacity: 0.2;
        }

        #conteudo {
            width: 480px;
            height: 480px;
            float: left;
            padding: 10px;
            margin-left: 10px;
            background: url("../images/download.jpg" ) #5e42da;
            opacity: 0.8;
            border: 2px solid green;
        }

        #conteudo p {
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            
        }

        #menu-navegacao{
            height: 60px;
            margin: 0 10px 10px 10px;
            background: rgb(63, 60, 60);
            
        }

        
        #menu-navegacao ul {
            padding: 0;
            list-style: none;
            margin: 24px 0 200px 260px;
            
        }
        #menu-navegacao a:hover {
            color: rgba(212, 175, 55);
        }

        #menu-navegacao li {
            display: inline;

        }

      #menu-navegacao a {
            font-family: 'monster';
            text-decoration: none;
            color: white;
            background: black;
            padding: 10px;
        
        }
