
        @font-face {
            font-family: 'monster';
            src: url('Melted Monster.ttf') format('truetype');
          }

        body {
            margin: 0px;
            padding: 0px;
            background: rgb(49, 47, 47) repeat-y; 
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #container {
            width: 900px;
            height: 1400px;
            margin: auto;
            background: url("../images/f0FH9Er.webp");
            padding: 2px;
        }

        #topo {
            background: black;
            padding: 10px;
            margin: 10px;
            border:3px solid rgb(83, 76, 76);
            
        }

        #topo h1 {
            font-family: 'monster';
            text-align: center;
            color: white;
        }

        #menu-navegacao{
            height: 60px;
            margin: 0 10px 10px 10px;
            background: rgb(63, 60, 60, 0.8);
        }

        #menu-navegacao ul {
            padding: 0;
            list-style: none;
            margin: 24px 0 200px 260px;
        }

        #menu-navegacao a:hover {
            color: rgba(212, 175, 55);
        }

        #menu-navegacao li {
            display: inline;
        }

      #menu-navegacao a {
            font-family: 'monster';
            text-decoration: none;
            color: white;
            background: black;
            padding: 10px;
            border-radius: 10px;
        }

        #galeria {
            padding: 19px;
        }

        .foto {
            height: 265px;
            width: 265px;
            float: right;
            margin: 10px;
            background: white;
            
        }


        .foto img {
            height: 100%;
            width: 100%;
            -webkit-transition: all 1s ease;
        }

          .foto:hover img {
            -webkit-transform: scale(1.1);
           
          }
    
