<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/Personagem.css">
    <title>Personagens</title>
</head>
<body>
    
    <div id="container"> <!--Inicio container-->

        <div id="topo">
     
             <h1>X-Files characters</h1>
     
        </div>
     
        <div id="menu-navegacao">
         
             <ul>
                 <li><a href="../index.html">Home</a></li>
                 <li><a href="">Trama</a></li>
                 <li><a href="characters.html">Characters</a></li>
                 <li><a href="fotos.html">Fotos</a></li>
                 <li><a href="">Series</a></li>
            
             </ul>
     
        </div>
     
       <!-- <div id="conteudo"> Inicio conteudo
            
            <table border="1px">
                <tr>
                    <th>Characters name</th> 
                    <th>Profession</th>
                    <th>Age</th>
                    <th>Parents</th>
                </tr>

                <tr>
                    <td><a href="characters/foxMulder.html">Fox Mulder</a></td>
                    <td>FBI Special Agent</td>
                    <td>31</td>
                    <td>Bill Mulder / Teena Mulder</td>
                </tr>

                <tr>
                    <td><a href="characters/scully.html">Dana Scully</a></td>
                    <td>FBI Special Agent</td>
                    <td>28</td>
                    <td>Bill Scully / Margaret Scully </td>
                </tr>
                
                <tr>
                    <td><a href="characters/walterSkinner.html">Walter Skinner</a></td>
                    <td>FBI Assistant Director</td>
                    <td>38</td>
                
                </tr>

                <tr>
                    <td><a href="characters/jhonDogget.html">John Jay Doggett</a></td>
                    <td>FBI Special Agent</td>
                    <td>43</td>
                </tr>

                <tr>
                    <td><a href="characters/cigarretMan.html">Cigarette Smoking Man</a></td>
                    <td>Department of Defense</td>
                    <td>53</td>
                </tr>

            </table>

         </div>Fim conteudo -->
     
        <div id="card"> <!-- Inicio cards -->
            
            <div class="cards">
                <a href="../characters/cigarretMan.html"> <img src="../images/The_Smoking_Man_(X-Files).jpg" width="100%"></a>
                <h1>Cigarette Smoking Man</h1>
                <p>
                    The Cigarette Smoking Man (abbreviated CSM or C-Man; sometimes referred to as Cancer Man or the Smoking Man) is a fictional character and one of the primary antagonists of the American science fiction drama television series The X-Files. He serves as the arch-nemesis of FBI Special Agent Fox Mulder.
                    In the show's sixth season, his name is said to be C.G.B. Spender, but Dana Scully suggests this is one of "hundreds of aliases"; the show's characters and fans continue to refer to him by variations of "the Smoking Man" 
                </p>
            </div>
    
            <div class="cards">
               <a href="../characters/scully.html"> <img src="../images/dana.jpg" width="100%"></a>
                <h1>Dana Scully</h1>
                <p>
                    Dana Scully, uma das protagonistas da série Arquivo X (1993-2018), foi uma personagem que teve um grande impacto na TV. Cética, leal, com uma relação complicada com Deus e uma cientista de primeira — que abandonou a carreira como médica para servir o FBI —, Scully foi tão resiliente na busca pela verdade quanto Fox Mulder (talvez até mais). Até hoje o impacto que ela teve nas meninas da sua geração, que resolveram seguir as mais diversas carreiras dentro dos ramos da ciência, é algo considerável e vários textos da cultura pop tem como principal objetivo discutir exatamente isso. Esse, no entanto, não é um deles.
                </p>
            </div>
    
            <div class="cards">
                <a href="../characters/foxMulder.html"><img src="../images/fox.jpg" width="100%"></a>
                <h1>Fox Mulder</h1>
                <p>
                    Fox William Mulder, nascido em 13 de outubro de 1961 e se formou bacharel em Psicologia na Universidade de Oxford, em 1986. Depois ingressou na academia de treinamento do FBI em Quantico. Em 1988 foi designado para a Unidade de Crimes violentos (UCV), destacando-se em seu primeiro caso – a perseguição do perigoso assaltante de bancos, John Barnet. Trabalhava traçando os perfis dos criminosos. Atormentado com o desaparecimento de sua irmã mais nova Samantha Mulder,que ocorreu em 27 de novembro de 1973, 
                </p>
            </div>
    
            <div class="cards">
                <a href="../characters/walterSkinner.html"> <img src="../images/skinner.jpg" width="100%"></a>
                <h1>Walter Skinner</h1>
                <p>
                    FBI Assistant Director Walter Sergei Skinner is a fictional character portrayed by American actor Mitch Pileggi on The X-Files and its short-lived spin-off The Lone Gunmen, both broadcast on Fox.

In the science fiction-supernatural series, Skinner supervised the X-Files office, which is concerned with unresolved FBI cases of mysterious or possibly supernatural circumstances. Fox Mulder, the FBI agent in charge of the X-Files, considers the X-Files the truth behind the supposed conspiracy. Skinner was a main character in the ninth, tenth and eleventh seasons of the show and a recurring character throughout the first eight seasons.
                </p>
            </div>
            
            
            <div class="cards">
              <a href="characters/monica.html"><img src="../images/MonicaReyes.jpg" width="100%"></a> 

                <h1>Monica Reyes</h1>
                    <p>
                        Monica Julieta Reyes is a fictional character in the Fox science fiction-supernatural television series The X-Files. She is portrayed by Annabeth Gish. At first a Field Agent before becoming a Special Agent with the FBI, she works with her longtime friend and partner John Doggett in the X-Files office, which is concerned with the investigation of paranormal cases, dubbed "X-Files". Introduced in the series' eighth season, Reyes would become a main character throughout the entirety of its ninth season, before returning for a single-episode guest appearance in the tenth-season finale, and later in a recurring capacity during season eleven.
                    </p>
            </div>

            <div class="cards">

               <a href="/characters/jhonDogget.html"> <img src="../images/the_x-files.jpg"></a>

                <h1>John Doggett</h1>
                <p>
                    FBI Special Agent John Jay Doggett is a fictional character in the Fox science fiction-supernatural television series The X-Files. With his FBI partners Dana Scully (season 8) and Monica Reyes (season 9), they work on the X-Files together, which is concerned with cases with particularly mysterious or possibly supernatural circumstances that were left unsolved and shelved by the FBI. John Doggett is played by Robert Patrick. Doggett was a main character from the eighth to ninth seasons (2000–2002), replacing David Duchovny's character Fox Mulder. Doggett appeared in the opening credits and every episode from the season eight premiere to the final episode of season 9.
                </p>

               
            </div>



        </div> <!-- Fim cards -->

     
     </div> <!--Fim container-->
     

</body>
</html>